<mat-card class="contenido-card mat-elevation-z9">
    <mat-card-title>ELIGE UN GRADO</mat-card-title>
    <mat-form-field appearance="outline">
            <mat-label>Grados</mat-label>
        <mat-select name="grado" (selectionChange)="onSelectionChange()">
            <mat-option *ngFor="let grado of grados" [value]="grado.value">{{grado.nombre}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="lista-contenido" *ngIf="gradoSeleccionado">
        <app-item-contenido *ngFor="let item of listaItems"
            [titulo]="item.titulo"
            [texto]="item.texto"
            [contenido]="item.contenido"></app-item-contenido>
    </div>
</mat-card>

