<mat-card class="contenido-card mat-elevation-z9">
  <mat-card-title>
    El obraje
  </mat-card-title>
  <mat-card-subtitle>
    Complete los datos para inciar sesión
  </mat-card-subtitle>
  <div class="user-data">
    <mat-form-field appearance="outline">
      <mat-label>Usuario </mat-label>
      <input matInput [formControl]="userName" required>
      <mat-error *ngIf="userName.hasError">Usuario inválido</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" [formControl]="password" required>
      <mat-error *ngIf="password.hasError">Contraseña inválido</mat-error>
    </mat-form-field>
  </div>
  <mat-card-actions>
      <button mat-raised-button
        [disabled]="!userName.valid || !password.valid"
      >
        Iniciar sesion
      </button>
  </mat-card-actions>
</mat-card>

