<div id="contenedor-login">
    <div id="card-login">
     <div id="titulo">
         <h1>El Obraje</h1>
         <h2>Iniciar sesion</h2>
     </div>
     <form id="datos">
         <label>Usuario: </label><input type="text" [formControl]="userName">
         <br>
         <br>
         <label>Contraseña: </label><input type="password" [formControl]="password">
         <br>
         <br>
              
     </form>
     <div id="boton">
       <form>
         <button type="submit">Iniciar sesion</button>   
       </form>
     </div>
    </div>
</div>