#contenedor-login {
    height: 100%;
    width: 100%;
}

#card-login {
    height: 500px;
    width: 400px;
    background-color: #CFECD2 ;
    margin: auto;
    margin-top: 50px;
}
#titulo {
    text-align: center;
}
#boton {
    text-align: center;
}