.subir-contenido {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: hsl(49, 68%, 82%);
    resize: none;
}
.text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color:hsl(49, 68%, 82%);
    text-align: justify;
    resize: none;
}
.botoncito {
    
}