<div class="header">
    <app-header></app-header>
    <table>
        <tr>
            <td>
                <app-inicio></app-inicio>
            </td>
            <td> 
                <app-inicio></app-inicio>
            </td>
            <td>
                <app-inicio></app-inicio>
            </td>
        </tr>
        <tr>
            <td>
                <app-inicio></app-inicio>
            </td>
            <td> 
                <app-inicio></app-inicio>
            </td>
            <td>
                <app-inicio></app-inicio>
            </td>
        </tr>
    </table>
</div>