.contenido-card {
    max-width: 50%;
    
  }
  
  .example-header-image {
    background-image: url('https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg');
    background-size: cover;
  }
